
@{
    ViewBag.Title = "SearchProduct";
    Layout = "~/Views/Shared/_Main_Shop_Layout.cshtml";
    var ReviewProduct = ViewBag.searchProduct;
    var TotalRecord = ViewBag.totalRecord;
}

<div class="shop">
    <div class="container">
        <div class="row">
            <!-- Shop Sidebar -->
            @{Html.RenderAction("ShopSidebar", "Product");}
            <div class="col-lg-9">
                <!-- Shop Content -->
                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>@TotalRecord</span> products found</div>
                    </div>
                    <div class="product_grid">
                        <div class="product_grid_border"></div>
                        @foreach (var Item in ReviewProduct)
                        {
                            <!-- Product Item -->

                            <div class="product_item is_new">
                                <div class="product_border"></div>
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src=@Item.Image alt=""></div>
                                <div class="product_content">
                                    <div class="product_price">giá gốc: @Item.Price.ToString("N0") đồng</div>
                                    <div class="product_price">giá khuyến mãi: @Item.PromotionPrice.ToString("N0") đồng</div>
                                    <p>Số lượt xem: @Item.ViewCount</p>
                                    <div class="product_name"><div><a href="/san-pham/@Item.MetaTitle-@Item.ID" tabindex="0">@Item.Name</a></div></div>
                                    <div class="button_container">
                                        <button type="button" class="button cart_button"><a href="/Cart/AddItem?productID=@Item.ID&quantity=1">Add to Cart</a></button>
                                    </div>
                                </div>
                                <div class="product_fav"><i class="fas fa-heart"></i></div>
                                <ul class="product_marks">
                                    <li class="product_mark product_discount">-((@Item.Price/@Item.PromotionPrice)*100)%</li>
                                </ul>
                            </div>

                        }
                    </div>
                </div>
                <!-- Shop Page Navigation -->
            </div>

        </div>
    </div>
</div>