@model WebShop.Models.Product
@{
    ViewBag.Title = "SingleProduct";
    Layout = "~/Views/Shared/_Main_SingleProduct_Layout.cshtml";
    var Prodcut = ViewBag.SingleProduct;
}

@foreach (var Item in Prodcut)
{
    <div class="single_product">
        <div class="container">
            <div class="row">

                <!-- Selected Image -->
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected"><img src="@Item.Image" alt=""></div>
                </div>
                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div class="product_description">
                        <!-- <div class="product_category">laptops</div> -->
                        <div class="product_name">@Item.Name</div>
                        <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
                        <div class="product_text"><p>@Item.Detail</p></div>
                        <div class="order_info d-flex flex-row">
                            <form action="" class="clearfix">
                                <div class="clearfix" style="z-index: 1000;"></div>
                                <strike>Giá Cũ: @Item.Price.ToString("N0")</strike>
                                <div class="product_price">Giá Mới: @Item.PromotionPrice.ToString("N0")</div>
                                <div class="button_container">
                                    <button type="button" class="button cart_button"><a href="/Cart/AddItem?productID=@Item.ID&quantity=1">Thêm vào giỏ hàng</a></button>                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}