@model  List<WebShop.Areas.User.Models.CartItem>
@{

    ViewBag.Title = "Cart";
    Layout = "~/Areas/User/Views/Shared/_Main_Cart_Layout.cshtml";
    var list = ViewBag.List;
}
@section jsFooter{
    <script src="~/Assets/User/js/Controller/CartController.js"></script>
}
@if (Model.Count > 0)
{
    <div class="cart_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">
                        <div class="cart_title">Shopping Cart</div>
                        @foreach (var item in list)
                        {
                            <div class="cart_items">
                                <ul class="cart_list">
                                    <li class="cart_item clearfix">
                                        <div class="cart_item_image"><img src="@item.Product.Image" alt=""></div>
                                        <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                            <div class="cart_item_name cart_info_col">
                                                <div class="cart_item_title">Name</div>
                                                <div class="cart_item_text">@item.Product.Name</div>
                                            </div>
                                            <div class="cart_item_color cart_info_col">
                                                <div class="cart_item_title">Màu</div>
                                                <ul class="product_color">
                                                    <li>
                                                        <span>Color: </span>
                                                        <div class="color_mark_container"><div id="selected_color" class="color_mark"></div></div>
                                                        <div class="color_dropdown_button"><i class="fas fa-chevron-down"></i></div>
                                                        <ul class="color_list">
                                                            @foreach (var color in item.ProductColor)
                                                            {

                                                                <li><div class="color_mark" style="background:@color.ColorBackgroud ;"></div></li>
                                                            }
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="cart_item_quantity cart_info_col">
                                                <div class="cart_item_title">Số lượng</div>
                                                <input type="number" class="txtQuantity" data-id="@item.Product.ID" min="1" value="@item.Quantity" />
                                            </div>
                                            <div class="cart_item_price cart_info_col">
                                                <div class="cart_item_title">Giá 1 Sản Phẩm</div>
                                                <div class="cart_item_text">@item.Product.Price đồng</div>
                                            </div>
                                            <div class="cart_item_total cart_info_col">
                                                <div class="cart_item_title">Tổng Giá</div>
                                                <div class="cart_item_text">@(item.Product.Price * item.Quantity) đồng</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                        <!-- Order Total -->
                        <div class="order_total">
                            <div class="order_total_content text-md-right">
                                <div class="order_total_title">Order Total:</div>
                                <div class="order_total_amount">$2000</div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="btnContinue" class="btn">Tiếp tục mua hàng</button>
    <button id="btnUpdate" class="btn">Cập nhật giỏ hàng</button>
    <button id="btnDeleteAll" class="btn">Xoá giỏ hàng</button>
    <button id="btnPayment" class="btn">Thanh toán</button>
}

else
{
    <h2>không có gì trong giỏ hàng</h2>

}

